<form class="employee-form" [formGroup]="editEmployeeForm">

  <div id="nameContainer" class="flexboxContainer">
    <mat-form-field class="medInput">
      <input matInput placeholder="First name" formControlName="firstName"
             class="form-control" name="firstName" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field class="xSmallInput">
      <input matInput placeholder="Middle initial" formControlName="middleInitial" name="middleInitial">
    </mat-form-field>

    <mat-form-field class="medInput">
      <input matInput placeholder="Last name" formControlName="lastName" name="lastName" autocomplete="off" required>
    </mat-form-field>

  </div>


  <mat-form-field class="full-width">
    <input matInput placeholder="Email" formControlName="emailAddress" name="emailAddress"
           pattern=".+\@.+\..+" autocomplete="off" required>
  </mat-form-field>


  <mat-form-field class="full-width">
    <textarea matInput placeholder="Address" formControlName="address1" name="address1"
              autocomplete="off" required></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea name="address2" matInput placeholder="Address 2" formControlName="address2"></textarea>
  </mat-form-field>

  <div id="addressContainer" class="flexboxContainer">
    <mat-form-field>
      <input matInput placeholder="City" formControlName="city" name="city" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field class="smallInput">
      <mat-select placeholder="State" name="state" formControlName="state" autocomplete="off" required>
        <mat-option *ngFor="let state of states" [value]="state">{{state | split:'_' | join:' ' | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="smallInput">
      <input matInput #zipCode maxlength="5" placeholder="Zip Code" formControlName="zip"
             name="zip" class="zipCodeInput" autocomplete="off" required>
      <mat-hint align="end">{{zipCode.value.length}} / 5</mat-hint>
    </mat-form-field>
  </div>

  <mat-input-container class="full-width">
    <input matInput placeholder="Phone number" formControlName="phoneNumber" name="phoneNumber"
           type="text" #phoneNumber [minlength]="14" [maxlength]="14" phoneMask ngControl="phone" minlength="10"
           autocomplete="off" required>
  </mat-input-container>


  <div id="employeeStatusWrapper" class="flexboxContainer">

    <mat-form-field class="smallInput">
      <mat-select placeholder="Position Category" name="positionCategory"
                  formControlName="positionCategory" autocomplete="off" required>
        <mat-option *ngFor="let cat of positionCategories" [value]="cat">{{cat | split:'_' | join:' ' | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle
      matInput
      [color]="'accent'"
      formControlName="active" name="active">
      Is Active
    </mat-slide-toggle>
  </div>

  <button mat-button (click)="cancel()">CANCEL</button>
  <button mat-raised-button (click)="saveEmployee()" [disabled]="editEmployeeForm.status!== 'VALID'">SAVE</button>

</form>

