.flexboxContainer {
  display: flex;
  justify-content: space-between;
  > * {
    margin: 0 5px;
  }
}

.medInput {
  min-width: 150px;
}

.smallInput {
  min-width: 100px;
}

.xSmallInput {
  min-width: 75px;
}

#employeeStatusWrapper {
  justify-content: space-between;
  align-items: center;
}
textarea {
  resize: none;
}
